<div id="main-wrapper" class="page-wrapper">
    <div class="page-header section-padding dc-404">
        <div class="container">
            <div class="row clearfix justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="heading-wrapper wow fadeInUp" data-wow-delay="0.2s">
                        <h1><%-lang.not_found_title[0]%>, <span><%-lang.not_found_title[1]%></span></h1>
                        <div class="lead-text">
                            <p><%-lang.not_found_desc%></p>
                        </div>
                    </div>
                    <div class="image-wrapper wow fadeInUp" data-wow-delay="0.4s">
                        <img src="/assets/images/404/404-new.svg" alt="" class="not-found-image"/>
                    </div>
                    <div class="empty-space-60"></div>
                    <div class="btn-wrapper wow fadeInUp" data-wow-delay="0.6s">
                        <a class="btn btn-primary" href="/"><%-lang.not_found_button%></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>