<div class="light-bg section-padding">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-6">
                <div class="heading-wrapper with-separator">
                    <h2 class="h1">Case Studies: <span>Case Study Name</span></h2>
                    <div class="lead-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida, quis tincidunt purus fringilla.</p>
                    </div>
                </div>
                <div class="panel-group style-2" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading0">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">Sorun?</a>
                            </h3>
                        </div>
                        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                            <div class="panel-body">
                                <p>Nunc scelerisque bibendum felis eu aliquet. Quisque et neque in diam feugiat dapibus laoreet vitae risus. Aliquam in mauris ante. Nullam porta, metus at dictum consectetur, mi risus auctor eros, id interdum nisl velit et ante.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">Amaç?</a>
                            </h3>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <p>Nullam a nisl vitae sapien aliquet pellentesque. Mauris dui felis, sagittis non turpis quis, molestie facilisis quam. Ut ut augue tempor, tristique odio vitae, auctor erat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">Sonuç?</a>
                            </h3>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <p>Suspendisse condimentum efficitur leo, vitae porttitor risus ornare nec. Maecenas eget lorem vestibulum, vestibulum nulla et, posuere nibh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse2">Görseller</a>
                            </h3>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <p>Suspendisse condimentum efficitur leo, vitae porttitor risus ornare nec. Maecenas eget lorem vestibulum, vestibulum nulla et, posuere nibh.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-wrapper">
                    <img src="/assets/images/default-color/lms-software-img-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>