<div id="main-wrapper" class="page-wrapper">
    <div class="page-header section-padding style-dark full-height dc-two pb-0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-7 col-md-12">
                    <div class="heading-wrapper wow fadeInDown" data-wow-delay="0.8s">
                        <h1>We Deliver the <span>Software</span> you need.</h1>
                        <div class="lead-text">
                            <p>Integrated CRM, project management, time tracking and billing for freelancers, consultants and teams.</p>    
                        </div>
                    </div>
                    <div class="btn-wrapper wow fadeIn" data-wow-delay="1.2s">
                        <a class="btn btn-primary btn-light " href="#">try to free</a>
                        <a class="btn btn-outline-primary btn-light" href="#"><i class="fas fa-play-circle"></i>watch video</a>
                    </div>
                    <div class="empty-space-30 clearfix"></div>
                </div><!-- End Col -->
                <div class="col-lg-12">
                     <div class="ss-wrapper wow fadeInUp" data-wow-delay="1.5s">
                        <img class="laptop-img-bg" src="/assets/images/laptop-screen.png" alt="" />
                        <div class="screenshot-slider text-center">
                            <div class="item">
                                <img src="/assets/images/ss-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="/assets/images/ss-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="/assets/images/ss-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div>
    </div>
    <!-- Page Header -->
    <div class="about-section section-padding dc-two">
        <div class="container">
            <div class="row clearfix align-items-center flex-row-reverse justify-content-between">
                <div class="col-lg-6">
                    <div class="video-wrapper">
                        <div class="video-player">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/I7CfaDYzTVM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-5">
                    <div class="heading-wrapper with-separator">
                        <h2 class="h1">Manage all your work from <span>One Place</span></h2>
                    </div>
                    <!-- End Heading -->
                    <div class="text-wrapper">
                        <p class="lead-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales dictum viverra.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales dictum viverra. Nam gravida dignissim eros. Vivamus congue erat ante, volutpat dictum neque dignissim eget. </p>
                    </div>
                    <div class="btn-wrapper">
                        <a class="btn btn-primary" href="#">Discover More</a>
                    </div>
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div>
    </div>
    <!-- About Section -->
    <div class="services-section light-gradient-bg section-padding">
        <div class="container">
            <div class="row clearfix justify-content-center">
                <div class="col-lg-10">
                    <div class="heading-wrapper text-center with-separator">
                        <h2 class="h1">Focus on <span>getting things</span> done with DCode</h2>
                        <div class="lead-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida, quis tincidunt purus fringilla. Aenean convallis a neque non pellentesque.</p>
                        </div>
                    </div>
                    <!-- End Heading -->
                </div><!-- End Col -->
            </div><!-- End Row -->
            <div class="row clearfix">
                <div class="col-lg-4">
                    <div class="icon-box theme-one wow fadeInLeft">
                        <div class="icon">
                            <img src="/assets/images/default-color/icon-5-light.svg" alt="">
                        </div>
                        <div class="text">
                            <h4>Improve Efficiency</h4>    
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales</p>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4">
                    <div class="icon-box theme-one wow fadeInUp">
                        <div class="icon">
                            <img src="/assets/images/default-color/icon-6-light.svg" alt="">
                        </div>
                        <div class="text">
                            <h4>Improve Quality</h4>    
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales</p>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4">
                    <div class="icon-box theme-one wow fadeInRight">
                        <div class="icon">
                            <img src="/assets/images/default-color/icon-7-light.svg" alt="">
                        </div>
                        <div class="text">
                            <h4>Improve Accountability</h4>    
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales</p>
                        </div>
                    </div>
                </div><!-- End Col -->
            </div><!-- End Row -->
            <div class="row clearfix">
                <div class="col-lg-12 text-center">
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-primary btn-large">Get Started For Free</a>
                    </div>
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div>
    </div>
    <!-- Services Section -->
    <div class="features-section section-padding style-dark dark-bg gradient-heading-bg dc-two">
        <div class="container">
            <div class="row justify-content-center clearfix">
                <div class="col-lg-8">
                    <div class="heading-wrapper text-center">
                        <h2 class="h1">We offer Powerfull <span>features</span></h2>
                        <div class="lead-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida, quis tincidunt purus fringilla. Aenean convallis a neque non pellentesque.</p>
                        </div>
                    </div><!-- End Heading -->
                    <div class="empty-space-60 clearfix"></div>
                </div><!-- End Col -->
            </div><!-- End Row -->
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6">
                    <div class="features-block theme-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="text">
                                <h4>Time Tracking</h4>
                                <p>Pellentesque at libero sed tellus fringilla volutpat. Nullam vulputate velit id augue commodo scelerisque.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4 col-md-6">
                    <div class="features-block theme-two wow fadeInUp" data-wow-delay="0.2s">
                        <div class="inner-box">
                            <div class="text">
                                <h4>Time Billing</h4>
                                <p>Pellentesque at libero sed tellus fringilla volutpat. Nullam vulputate velit id augue commodo scelerisque.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4 col-md-6">
                    <div class="features-block theme-two wow fadeInUp" data-wow-delay="0.4s">
                        <div class="inner-box">
                            <div class="text">
                                <h4>Email Tasks in</h4>
                                <p>Pellentesque at libero sed tellus fringilla volutpat. Nullam vulputate velit id augue commodo scelerisque.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4 col-md-6">
                    <div class="features-block theme-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="text">
                                <h4>Calendar Sync</h4>
                                <p>Pellentesque at libero sed tellus fringilla volutpat. Nullam vulputate velit id augue commodo scelerisque.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4 col-md-6">
                    <div class="features-block theme-two wow fadeInUp" data-wow-delay="0.2s">
                        <div class="inner-box">
                            <div class="text">
                                <h4>Mobile Application</h4>
                                <p>Pellentesque at libero sed tellus fringilla volutpat. Nullam vulputate velit id augue commodo scelerisque.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4 col-md-6">
                    <div class="features-block theme-two wow fadeInUp" data-wow-delay="0.4s">
                        <div class="inner-box">
                            <div class="text">
                                <h4>Access Control</h4>
                                <p>Pellentesque at libero sed tellus fringilla volutpat. Nullam vulputate velit id augue commodo scelerisque.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4 col-md-6">
                    <div class="features-block theme-two wow fadeInUp">
                        <div class="inner-box">
                            <div class="text">
                                <h4>Out of Office</h4>
                                <p>Pellentesque at libero sed tellus fringilla volutpat. Nullam vulputate velit id augue commodo scelerisque.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4 col-md-6">
                    <div class="features-block theme-two wow fadeInUp" data-wow-delay="0.2s">
                        <div class="inner-box">
                            <div class="text">
                                <h4>Snooze Tasks</h4>
                                <p>Pellentesque at libero sed tellus fringilla volutpat. Nullam vulputate velit id augue commodo scelerisque.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
                <div class="col-lg-4 col-md-6">
                    <div class="features-block theme-two wow fadeInUp" data-wow-delay="0.4s">
                        <div class="inner-box">
                            <div class="text">
                                <h4>Track Conversations</h4>
                                <p>Pellentesque at libero sed tellus fringilla volutpat. Nullam vulputate velit id augue commodo scelerisque.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div>
    </div>
    <!-- Features Section -->
    <div class="pricing-section section-padding">
        <div class="container">
            <div class="row justify-content-center clearfix">
                <div class="col-lg-8">
                    <div class="heading-wrapper text-center with-separator">
                        <h2 class="h1">Pricing Plans</h2>
                        <div class="lead-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida, quis tincidunt purus fringilla. Aenean convallis a neque non pellentesque.</p>
                        </div>
                    </div><!-- End Heading -->
                </div><!-- End Col -->
            </div><!-- End Row -->
            <div class="row pricing-plans-two clearfix">
                <div class="col-lg-4 col-12">
                    <div class="price-card text-center wow fadeInLeft">
                        <div class="plan-cost-wrapper">
                            <div class="plan-cost">
                                <span class="plan-cost-prefix">$</span>15
                            </div>
                            <div class="plan-validity">per month</div>
                        </div>
                        <div class="card-header">
                            <h3 class="card-title">Start-Up</h3>
                        </div>
                        <div class="card-body">
                            <div class="desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem nunc, semper sed metus at, lacinia viverra leo.</p>
                            </div>
                            <ul class="pricing-feature-list">
                                <li>Easy Customizable</li>
                                <li>1 Month Support Service</li>
                                <li>Singal User license</li>
                                <li class="disabled">Reports & Billing</li>
                                <li>100Mb Storage</li>
                            </ul>
                            <a href="#" class="btn btn-secondary">Purchase Now</a>
                        </div>
                    </div><!-- End Price card -->
                </div><!-- End Col -->
                <div class="col-lg-4 col-12">
                    <div class="price-card popular text-center wow fadeInUp">
                        <div class="plan-cost-wrapper">
                            <div class="plan-cost">
                                <span class="plan-cost-prefix">$</span>30
                            </div>
                            <div class="plan-validity">per month</div>
                        </div>
                        <div class="card-header">
                            <h3 class="card-title">Advanced</h3>
                        </div>
                        <div class="card-body">
                            <div class="desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem nunc, semper sed metus at, lacinia viverra leo.</p>
                            </div>
                            <ul class="pricing-feature-list">
                                <li>Easy Customizable</li>
                                <li>1 Year Support Service</li>
                                <li>3 Users license</li>
                                <li class="disabled">Reports & Billing</li>
                                <li>2Gb Storage per user</li>
                            </ul>
                            <a href="#" class="btn btn-primary">Purchase Now</a>
                        </div>
                    </div><!-- End Price card -->
                </div><!-- End Col -->
                <div class="col-lg-4 col-12">
                    <div class="price-card text-center wow fadeInRight">
                        <div class="plan-cost-wrapper">
                            <div class="plan-cost">
                                <span class="plan-cost-prefix">$</span>50
                            </div>
                            <div class="plan-validity">per month</div>
                        </div>
                        <div class="card-header">
                            <h3 class="card-title">Premium</h3>
                        </div>
                        <div class="card-body">
                            <div class="desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lorem nunc, semper sed metus at, lacinia viverra leo.</p>
                            </div>
                            <ul class="pricing-feature-list">
                                <li>Easy Customizable</li>
                                <li>1 Year Support Service</li>
                                <li>10 Users license</li>
                                <li>Reports & Billing</li>
                                <li>2Gb Storage per user</li>
                            </ul>
                            <a href="#" class="btn btn-secondary">Purchase Now</a>
                        </div>
                    </div><!-- End Price card -->
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div>
    </div>
    <!-- Pricing Section -->
    <div class="testimonial-section style-two section-padding">
        <div class="container">
            <div class="row clearfix style-dark">
                <div class="col-lg-8">
                    <div class="heading-wrapper">
                        <h2 class="h1">Happy Clients <span>Feedback</span></h2>
                        <div class="lead-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida, quis tincidunt purus fringilla. Aenean convallis a neque non pellentesque.</p>
                        </div>
                    </div><!-- End Heading -->
                </div><!-- End Col -->
            </div><!-- End Row -->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="client-testimonial theme-two">
                        <div class="testimonial-slider">
                        <div class="item">
                            <div class="testimonial-text">
                                <blockquote>
                                    Cum et essent similique. Inani propriae menandri sed in. Pericula expetendis has no, quo populo forensibus contentiones et, nibh error in per. Vis in tritani debitis delicatissimi, error omnesque invenire usu ex, qui illud nonumes ad.
                                </blockquote>
                                <div class="client-info">
                                    <h5>Andy Sant</h5>
                                    <p>Founder Coinpool</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-text">
                                <blockquote>
                                    It's all good. I am really satisfied with software. Pericula expetendis has no, quo populo forensibus contentiones et, nibh error in per. Vis in tritani debitis delicatissimi, error omnesque invenire usu ex, qui illud nonumes ad.
                                </blockquote>
                                <div class="client-info">
                                    <h5>Dan Kaul</h5>
                                    <p>IT Consultant</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-text">
                                <blockquote>
                                    Pericula expetendis has no, quo populo forensibus contentiones et, nibh error in per. Vis in tritani debitis delicatissimi, error omnesque invenire usu ex, qui illud nonumes ad. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales dictum viverra.
                                </blockquote>
                                <div class="client-info">
                                    <h5>Saru Matt</h5>
                                    <p>Customer</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-text">
                                <blockquote>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in lacus consectetur, fermentum nisi vel, aliquet erat. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes.
                                </blockquote>
                                <div class="client-info">
                                    <h5>Yommi Pat</h5>
                                    <p>Customer</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-text">
                                <blockquote>
                                    Nam rutrum, eros nec consequat eleifend, quam est sodales mauris, eget dignissim lacus sem at erat. Vivamus eget semper nibh. Nullam dignissim lectus metus, eget dapibus massa vehicula et.
                                </blockquote>
                                <div class="client-info">
                                    <h5>Shreyn S</h5>
                                    <p>Data Science Enthusiastic</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Testimonial Slider -->
                    </div>
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div>
    </div>
    <!-- Testimonial Section -->
    <div class="subscribe-section section-padding pt-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="image-wrapper">
                        <img src="/assets/images/default-color/newsletter-img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="heading-wrapper with-separator">
                        <h2 class="h1">Subscribe to our <span>Newsletter</span></h2>
                        <div class="lead-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus mi id elit gravida, quis tincidunt purus fringilla.</p>
                        </div>
                    </div>
                    <div class="subscribe-form-wrapper">
                        <form method="post">
                            <div class="form-group">
                                <input type="email" name="EmailInput" class="form-control" placeholder="Enter Your Email" required="">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Subscribe Now!">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe Section -->
</div>